<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }
        .button-container {
            text-align: left;
            margin-top: 20px;
        }
        button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h2>메인 페이지</h2>
    <div class="button-container">
        <a href="{% url 'profile' %}">
            <button>프로필 페이지로 이동</button>
        </a>
    </div>
    <div class="button-container">
        <a href="{% url 'poke_page' %}">
            <button>콕찌르기 페이지로 이동</button>
        </a>
    </div>
    <div class="button-container">
        <a href="{% url 'emotion_page' %}">
            <button>오늘의 감정 페이지로 이동_시니어 로그인시</button>
        </a>
    </div>
    <div class="button-container">
        <a href="{% url 'senior_page' %}">
            <button>시니어 페이지로 이동_보호자 로그인시</button>
        </a>
    </div>
</body>
</html>
