<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/css/main.css' %}">
    <style>
        @import url("{% static 'css/fonts.css' %}");
    </style>
</head>
<body>
    <div id="wrap">
        <main>
            <img src="{% static 'img/logo.png' %}" alt="로고" class="logo">
            <a href="{% url 'login' %}">
                <button class="signin_btn">로그인하기</button>
            </a>
            <a href="{% url 'signup_step1' %}" class="signup_btn">
                <span class="comment_signup">아직 회원이 아니신가요?</span>
                <span class="signup">회원가입하기</span>
            </a>
        </main>
    </div>
</body>
</html>
