<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/css/protector/signup_step4_protector.css' %}">
    <style>
        @import url("{% static 'css/fonts.css' %}");
    </style>
</head>
<body>
    <div id="wrap">
        <main>
            <div class="topbar">
                <button type="button" class="back_btn" onclick="window.history.back()">
                    <img src="{% static 'img/arrow_back.svg' %}" alt="뒤로가기">
                </button>           
                <span class="comment_login">회원가입</span> 
            </div>
            <div class="progress">
                <progress id="progress" max="100" value="70"></progress>
            </div>
            <div class="input">
                <span class="input_type">함께 서비스를 이용할<br>시니어를 입력해주세요</span>
                <form id="search-form" method="post">
                    {% csrf_token %}
                    <div class="signin_input">
                        <input class="input_id" name="senior_username" id="input_name" placeholder="시니어의 아이디를 검색해보세요" required>
                        <button type="submit" name="search" class="searchbtn">
                        </button>
                    </div>
                </form>
                {% if error %}
                    <div class="error-message">{{ error }}</div>
                {% endif %}
                {% if senior_user %}
                <div class="result">
                    <div class="result_item" data-user-id="{{ senior_user.id }}">
                        <div class="profile_picture"></div>
                        <div class="profile_info">
                            <div class="profile_details">
                                <span class="birth_date">{{ senior_user.userprofile.birth_date }}</span>
                                <span class="relation"> | 관계</span>
                            </div>
                            <div class="profile_name">{{ senior_user.username }}</div>
                        </div>
                        <div class="profile-checkmark">
                            <img src="{% static 'img/check_unactivated.svg' %}" alt="선택됨">
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <form id="relationship-form" method="post" action="{% url 'signup_step4_protector' %}">
                {% csrf_token %}
                <input type="hidden" name="selected_senior_id" id="selected_senior_id">
                <input type="hidden" name="relationship" id="selected_relationship">
                <button id="signin_btn" class="signin_btn" type="submit" name="select" disabled>선택</button>
            </form>
        </main>
    </div>
    <div class="modal-backdrop"></div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-handler"></div>
            <h2>시니어와의 관계를 선택해주세요</h2>
            <p>시니어에게 표시되는 점 참고해주세요</p>
            <div>
                <div class="relation-btn-wrapper" data-relation="자녀">
                    <button class="relation-btn">자녀</button>
                    <div class="checkmark">
                        <img src="{% static 'img/check_unactivated.svg' %}" alt="선택됨">
                    </div>
                </div>
                <div class="relation-btn-wrapper" data-relation="배우자">
                    <button class="relation-btn">배우자</button>
                    <div class="checkmark">
                        <img src="{% static 'img/check_unactivated.svg' %}" alt="선택됨">
                    </div>
                </div>
                <div class="relation-btn-wrapper" data-relation="간병인">
                    <button class="relation-btn">간병인</button>
                    <div class="checkmark">
                        <img src="{% static 'img/check_unactivated.svg' %}" alt="선택됨">
                    </div>
                </div>
                <div class="relation-btn-wrapper" data-relation="친구">
                    <button class="relation-btn">친구</button>
                    <div class="checkmark">
                        <img src="{% static 'img/check_unactivated.svg' %}" alt="선택됨">
                    </div>
                </div>
                <div class="relation-btn-wrapper" data-relation="기타">
                    <button class="relation-btn">기타</button>
                    <div class="checkmark">
                        <img src="{% static 'img/check_unactivated.svg' %}" alt="선택됨">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'accounts/js/protector/signup_step4_protector.js' %}"></script>
</body>
</html>